{% extends "basic_app/base.html"%}
{% block body_block%}

    <div class="jumbotron">
        {% if registered %}
            <h1> REGISTERING </h1>
        {% else %}
            <h1> Register HERE: </h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <input type="submit" value="Register">
                </form>
        {% endif%}
    </div>
{% endblock %}