{% extends 'base.html' %}

{% block title %} Group {% endblock %}

{% block content %}
{{group.name}}
<br>
Member count: {{group.user.all.count}}
<br>
<form action="{% url 'join_group' pk=group.pk %}" method="POST">
    {% csrf_token %}
    {% if member %}
    <input type="submit" value="Leave" name="leave_group">
    {% else %}
    <input type="submit" value="Join" name="join_group">
    {% endif %}
</form>
{% for post in group.post_set.all %}
<a href="{% url 'detail_post' pk=post.id %}">{{post.title}}</a>
<br>
{{post.created_date}}
<span>by </span>{{post.user}}
<br>
{% empty %}
<p>No Post Yet!</p>
{% endfor %}
{% endblock %}