{% extends 'base.html' %}

{% block title %} Group {{group.name}} {% endblock %}

{% block content %}
{{group.name}}
<br>
Member count: {{group.user.all.count}}
<br>
<form action="{% url 'join_group' pk=group.pk %}" method="POST">
    {% csrf_token %}
    {% if member %}
    <input class="btn btn-danger" type="submit" value="Leave" name="leave_group">
    {% else %}
    <input class="btn btn-primary" type="submit" value="Join" name="join_group">
    {% endif %}
</form>
<br>
{% for post in group.post_set.all %}
<a class="links" href="{% url 'detail_post' pk=post.id %}">{{post.title}}</a>
<br>
{{post.created_date}}
<span>by </span><a class="links" href="{% url 'user_post' username=post.user %}">@{{post.user}}</a>
<br>
{% empty %}
<p>No Post Yet!</p>
{% endfor %}
{% endblock %}