{% extends 'base.html' %}

{% block title %} {{post.title}} | View {% endblock %}

{% block body %}
<div class="container">
    <h2>
        <li>{{ post.title }}</li>
    </h2>
    <p>{{ post.text }}</p>

    <div class="container">
        <p>
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'blog:update' pk=post.pk %}">Edit Post</a>
            {% endif %}

            <h2>Comments:</h2>
            {% for comment in post.comment_set.all %}
                {% if comment.is_approved or user.is_authenticated %}
                    {% if not comment.is_approved %}
                        <a href="{% url 'blog:approve_comment' pk=comment.pk %}">Approve</a>
                        <a href="{% url 'blog:delete_comment' pk=comment.pk %}">Delete</a>
                    {% endif %}
                    {{ comment.date_created}} {{ comment.username }} says:
                    <br>
                    {{ comment.text }}
                    <br>

                {% endif %}
            {% endfor %}

            <p><a class="btn btn-secondary" href="{% url 'blog:create_comment' pk=post.pk %}">New Comment</a></p>
        </p>
    </div>

</div>
{% endblock %}